@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.content-app {
    background: transparent;
    display:inline-table;
    width: 85%;
    border-radius: 10px;
    padding: 5px;
    border: 1px #555 solid;
    height: 100%;
    overflow: hidden;
   /*  position: relative; */
}

input{
    outline: none;
    border: none;
}

button, input{
    overflow: visible;
    outline: none;
    border: none;
}

.matt-btn{
    background: rgb(35,149,30);
    background: linear-gradient(90deg, rgba(35,149,30,1) 0%, rgba(47,180,42,1) 52%, rgba(102,230,97,1) 100%);
    border-radius: 5px;
    width: 300px;
    padding: 15px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    margin: 2% auto;
    cursor: pointer;
    transition: filter 0.2s;
}

.matt-btn-blue{
    background: rgb(30,134,149);
    background: linear-gradient(90deg, rgba(30,134,149,1) 0%, rgba(42,156,180,1) 52%, rgba(97,225,230,1) 100%);
    border-radius: 5px;
    width: 300px;
    padding: 15px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    margin: 2% auto;
    cursor: pointer;
    transition: filter 0.2s;
}

.matt-btn-getStarted {
    background-color: #1FAA89;
    text-decoration: none;
    border-radius: 5px;
    width: 40%;
    padding: 15px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px;
    cursor: pointer;
    transition: filter 0.2s;
    margin: 24px 24px 24px 48px;
}

.matt-btn:hover{
    filter: brightness(90%);
}
.matt-btn-blue:hover{
    filter: brightness(90%);
}
.matt-btn-getStarted:hover{
    filter: brightness(90%);
}

.back-to-login{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
}
.back-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #555;
}
.back-link-dash{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color:  #1f8aaa;
}
.back-text{
    font-size: 11pt; 
    text-decoration: none !important; 
    margin-left: 6px
}
.text_home{
    color: #777;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 24px 24px 24px 48px;
  }
.profile{
    margin-left: 80px;
    padding: 15px;
}

.footer {
    font-weight: 500;
    color: #999;
    font-size: small;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

@media only screen and (max-device-width: 900px) {
    .img_home{
        display: none;
    }
    .matt-btn-getStarted{
        width: 50%;
        font-size: 0.8rem;
        margin: 24px;
    }
    .profile{
        margin-left: 40px;
        padding: 15px;
    }
    .text_home{
        font-size: 1rem;
      }
      .text_home{
        color: #777;
        font-size: 1.8rem;
        font-weight: 400;
        margin: 24px;
      }
}